SUBSYSTEM=="usb", ATTR{idVendor}=="[0x2717]", MODE="0660", GROUP="adbusers", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="[0x2717]", ATTR{idProduct}=="[0xff48]", SYMLINK+="android_adb"
SUBSYSTEM=="usb", ATTR{idVendor}=="[0x2717]", ATTR{idProduct}=="[0xff48]", SYMLINK+="android_fastboot"
